# Cryptocurrency Market Efficiency

Este cuaderno está orientado a la documentación de los cálculos.

## Librerías

In [1]:
import pandas as pd
import numpy as np
import glob

## Lectura de ejemplo

Dado que se van a analizar las hipótesis de eficiencia de los mercados de criptomonedas, se va a limitar el tamaño del _DataFrame_. En concreto, se van a conservar las columnas _time_ y _PriceUSD_, relativas a la fecha y al precio en dólares, respectivamente. Esto con el objetivo de calcular las rentabilidades.

In [2]:
BTC = pd.read_csv("csv221022/btc.csv",
                  sep = ",",
                  header = 0,
                  usecols = ["time","PriceUSD"],
                  parse_dates= ["time"])
BTC

           time      PriceUSD
0    2009-01-03           NaN
1    2009-01-04           NaN
2    2009-01-05           NaN
3    2009-01-06           NaN
4    2009-01-07           NaN
...         ...           ...
5037 2022-10-19  19132.154425
5038 2022-10-20  19033.376024
5039 2022-10-21  19174.876349
5040 2022-10-22  19207.628508
5041 2022-10-23           NaN

[5042 rows x 2 columns]

## Generar una lista de nombres de los activos, a partir de los archivos csv

In [3]:
path = "csv221022/"
csvs = sorted(glob.glob(path + "*.csv"))
nombres = [element.replace("csv221022/", "") for element in csvs]
nombres = [element.replace(".csv", "") for element in nombres]

## Lectura de todos los csv

Añadir una linea de codigo al bucle que consiga modificar el nombre del ultimo elemento añadido a la lista a través de corchetes y un replace

In [4]:
dataframes_list = []
for i in range(len(nombres)):
    temp_df = pd.read_csv(filepath_or_buffer = "csv221022/"+nombres[i]+".csv",
                          header = 0,
                          sep = ",",
                          parse_dates = ["time"])
    dataframes_list.append(temp_df)

In [5]:
#Calcula el número de columna que coincida con PriceUSD en el df concreto del loop for anterior
len(temp_df.columns=="PriceUSD")

110

### Comprobar si existe la columna "PriceUSD" en todos los CSV

In [6]:
dataframes_list = []
boo = []
longli = []
archli = []
for i in range(len(nombres)):
    temp_df = pd.read_csv(filepath_or_buffer = "csv221022/"+nombres[i]+".csv",
                          header = 0,
                          sep = ",")
    if "PriceUSD" in temp_df.columns:
            boo1 = "True"
            longi = len(temp_df.columns=="PriceUSD")
            archi = nombres[i]
            boo.append(boo1)
            longli.append(longi)
            archli.append(archi)
    else:
            boo1 = "False"
            boo.append(boo1)
            longi = 0
            longli.append(longi)
            archi = nombres[i]
            archli.append(archi)
            
    dataframes_list.append(temp_df)
df = pd.DataFrame({
    "Existe":boo,
    "Posición":longli,
    "Activo":archli})
df

    Existe  Posición Activo
0     True       110  1inch
1     True       110   aave
2    False         0    aca
3    False         0    ach
4     True       122    ada
..     ...       ...    ...
349  False         0    ygg
350   True       130    zec
351  False         0    zen
352  False         0    zks
353   True       110    zrx

[354 rows x 3 columns]

### Dropear columnas del DataFrame que no tengan la columna PriceUSD

In [7]:
type(dataframes_list)

list

Hacer un bucle loop que compruebe si existe la columna PriceUSD en el elemento de dataframes_list y guardarla o dropear el caso contrario con pop()[i]

### Creación de las listas

En este punto se crean dos listas de dataframes diferentes. En una de ellas se encuentran todos los dataframes, incluyendo aquellos activos que no tienen la columna "PriceUSD". Esta lista es _dflistcompleto_. 

En cambio, la lista que solo tiene los activos que incluyen la columna "PriceUSD" se denomina _dflistpriceusd_.

Finalmente, la creación de una lista vacía _nombresprice_ permite agregar el nombre del activo del bloque _if "PriceUSD" in temp..._ a la lista vacía, por lo que coincidirán con la lista _dflistpriceusd_.

In [8]:

dflistcompleto = []
dflistpriceusd = []
for i in range(len(nombres)):
    temp_df = pd.read_csv(filepath_or_buffer = "csv221022/" + nombres[i] + ".csv",
                          header = 0,
                          sep = ",")
    if "PriceUSD" in temp_df.columns:
        temp_df_priceusd = pd.read_csv(filepath_or_buffer = "csv221022/" + nombres[i] + ".csv",
                          header = 0,
                          usecols = ["time", "PriceUSD"],
                          sep = ",")
        temp_df_priceusd.set_index("time")
        temp_df_priceusd.drop(columns = "time")
    else:
        continue
    dflistpriceusd.append(temp_df_priceusd)
    dflistcompleto.append(temp_df)

In [9]:
dflistpriceusd

[           time  PriceUSD
 0    2020-12-23       NaN
 1    2020-12-24       NaN
 2    2020-12-25       NaN
 3    2020-12-26  1.619328
 4    2020-12-27  1.072350
 ..          ...       ...
 665  2022-10-19  0.565972
 666  2022-10-20  0.561912
 667  2022-10-21  0.568595
 668  2022-10-22  0.571261
 669  2022-10-23       NaN

 [670 rows x 2 columns],
            time   PriceUSD
 0    2020-09-24        NaN
 1    2020-09-25        NaN
 2    2020-09-26        NaN
 3    2020-09-27        NaN
 4    2020-09-28        NaN
 ..          ...        ...
 755  2022-10-19  82.756474
 756  2022-10-20  80.864570
 757  2022-10-21  81.937084
 758  2022-10-22  82.100930
 759  2022-10-23        NaN

 [760 rows x 2 columns],
             time  PriceUSD
 0     2017-09-23       NaN
 1     2017-09-24       NaN
 2     2017-09-25       NaN
 3     2017-09-26       NaN
 4     2017-09-27       NaN
 ...          ...       ...
 1852  2022-10-19  0.350053
 1853  2022-10-20  0.339494
 1854  2022-10-21  0.348935
 1855  2022-10-22  0.351382
 1856  2022-10-23       NaN

 [1857 rows x 2 columns],
             time  PriceUSD
 0     2019-06-11       NaN
 1     2019-06-12       NaN
 2     2019-06-13       NaN
 3     2019-06-14       NaN
 4     2019-06-15       NaN
 ...          ...       ...
 1226  2022-10-19  0.306648
 1227  2022-10-20  0.306465
 1228  2022-10-21  0.312878
 1229  2022-10-22  0.313475
 1230  2022-10-23       NaN

 [1231 rows x 2 columns],
            time  PriceUSD
 0    2020-09-27       NaN
 1    2020-09-28       NaN
 2    2020-09-29       NaN
 3    2020-09-30       NaN
 4    2020-10-01       NaN
 ..          ...       ...
 752  2022-10-19  0.106063
 753  2022-10-20  0.108464
 754  2022-10-21  0.109817
 755  2022-10-22  0.108170
 756  2022-10-23       NaN

 [757 rows x 2 columns],
             time  PriceUSD
 0     2017-05-15       NaN
 1     2017-05-16       NaN
 2     2017-05-17       NaN
 3     2017-05-18       NaN
 4     2017-05-19       NaN
 ...          ...       ...
 1983  2022-10-19  1.581203
 1984  2022-10-20  1.544314
 1985  2022-10-21  1.560010
 1986  2022-10-22  1.563507
 1987  2022-10-23       NaN

 [1988 rows x 2 columns],
            time  PriceUSD
 0    2020-06-20       NaN
 1    2020-06-21       NaN
 2    2020-06-22       NaN
 3    2020-06-23       NaN
 4    2020-06-24       NaN
 ..          ...       ...
 851  2022-10-19  6.037351
 852  2022-10-20  6.072490
 853  2022-10-21  5.975150
 854  2022-10-22  6.103708
 855  2022-10-23       NaN

 [856 rows x 2 columns],
             time  PriceUSD
 0     2017-05-29       NaN
 1     2017-05-30       NaN
 2     2017-05-31       NaN
 3     2017-06-01       NaN
 4     2017-06-02       NaN
 ...          ...       ...
 1969  2022-10-19  0.274784
 1970  2022-10-20  0.273331
 1971  2022-10-21  0.277508
 1972  2022-10-22  0.276531
 1973  2022-10-23       NaN

 [1974 rows x 2 columns],
             time    PriceUSD
 0     2017-07-29         NaN
 1     2017-07-30         NaN
 2     2017-07-31         NaN
 3     2017-08-01  328.327901
 4     2017-08-02  343.028449
 ...          ...         ...
 1908  2022-10-19  106.059545
 1909  2022-10-20  106.323717
 1910  2022-10-21  107.009310
 1911  2022-10-22  108.643810
 1912  2022-10-23         NaN

 [1913 rows x 2 columns],
             time    PriceUSD
 0     2017-07-05         NaN
 1     2017-07-06         NaN
 2     2017-07-07         NaN
 3     2017-07-08         NaN
 4     2017-07-09         NaN
 ...          ...         ...
 1932  2022-10-19  271.647485
 1933  2022-10-20  268.992192
 1934  2022-10-21  269.954989
 1935  2022-10-22  270.425734
 1936  2022-10-23         NaN

 [1937 rows x 2 columns],
            time   PriceUSD
 0    2017-07-05        NaN
 1    2017-07-06        NaN
 2    2017-07-07        NaN
 3    2017-07-08        NaN
 4    2017-07-09        NaN
 ..          ...        ...
 652  2019-04-18  21.967673
 653  2019-04-19  24.325842
 654  2019-04-20  24.934271
 655  2019-04-21  24.197776
 656  2019-04-22  23.882212

 [657 rows x 2 columns],
             time   PriceUSD
 0     2018-11-10        NaN
 1     2018-11-11        NaN
 2     2018-11-12        NaN
 3     2018-11-13        NaN
 4     2018-11-14        NaN
 ...          ...        ...
 1439  2022-10-19  46.651837
 1440  2022-10-20  46.896867
 1441  2022-10-21  46.471710
 1442  2022-10-22  46.987258
 1443  2022-10-23        NaN

 [1444 rows x 2 columns],
             time      PriceUSD
 0     2009-01-03           NaN
 1     2009-01-04           NaN
 2     2009-01-05           NaN
 3     2009-01-06           NaN
 4     2009-01-07           NaN
 ...          ...           ...
 5037  2022-10-19  19132.154425
 5038  2022-10-20  19033.376024
 5039  2022-10-21  19174.876349
 5040  2022-10-22  19207.628508
 5041  2022-10-23           NaN

 [5042 rows x 2 columns],
             time    PriceUSD
 0     2017-10-24         NaN
 1     2017-10-25  152.159330
 2     2017-10-26  140.296579
 3     2017-10-27  128.130173
 4     2017-10-28  121.980754
 ...          ...         ...
 1821  2022-10-19   17.112675
 1822  2022-10-20   16.749681
 1823  2022-10-21   16.714084
 1824  2022-10-22   21.411518
 1825  2022-10-23         NaN

 [1826 rows x 2 columns],
             time  PriceUSD
 0     2019-09-05       NaN
 1     2019-09-06       NaN
 2     2019-09-07       NaN
 3     2019-09-08       NaN
 4     2019-09-09       NaN
 ...          ...       ...
 1140  2022-10-19  1.000161
 1141  2022-10-20  1.000065
 1142  2022-10-21  1.000100
 1143  2022-10-22  1.000218
 1144  2022-10-23       NaN

 [1145 rows x 2 columns],
            time   PriceUSD
 0    2020-03-04        NaN
 1    2020-03-05        NaN
 2    2020-03-06        NaN
 3    2020-03-07        NaN
 4    2020-03-08        NaN
 ..          ...        ...
 959  2022-10-19  50.068631
 960  2022-10-20  49.139244
 961  2022-10-21  50.105865
 962  2022-10-22  50.443407
 963  2022-10-23        NaN

 [964 rows x 2 columns],
             time  PriceUSD
 0     2018-11-14       NaN
 1     2018-11-15       NaN
 2     2018-11-16       NaN
 3     2018-11-17       NaN
 4     2018-11-18       NaN
 ...          ...       ...
 1435  2022-10-19  0.105549
 1436  2022-10-20  0.103516
 1437  2022-10-21  0.105957
 1438  2022-10-22  0.105404
 1439  2022-10-23       NaN

 [1440 rows x 2 columns],
            time  PriceUSD
 0    2020-08-12       NaN
 1    2020-08-13       NaN
 2    2020-08-14       NaN
 3    2020-08-15  7.035153
 4    2020-08-16  5.932853
 ..          ...       ...
 798  2022-10-19  0.852174
 799  2022-10-20  0.846880
 800  2022-10-21  0.895860
 801  2022-10-22  0.876624
 802  2022-10-23       NaN

 [803 rows x 2 columns],
             time  PriceUSD
 0     2017-07-11       NaN
 1     2017-07-12       NaN
 2     2017-07-13       NaN
 3     2017-07-14       NaN
 4     2017-07-15       NaN
 ...          ...       ...
 1926  2022-10-19  0.114563
 1927  2022-10-20  0.114383
 1928  2022-10-21  0.115715
 1929  2022-10-22  0.117330
 1930  2022-10-23       NaN

 [1931 rows x 2 columns],
             time  PriceUSD
 0     2019-11-13       NaN
 1     2019-11-14       NaN
 2     2019-11-15       NaN
 3     2019-11-16       NaN
 4     2019-11-17       NaN
 ...          ...       ...
 1071  2022-10-19  1.000009
 1072  2022-10-20  0.999890
 1073  2022-10-21  0.999547
 1074  2022-10-22  1.000204
 1075  2022-10-23       NaN

 [1076 rows x 2 columns],
             time   PriceUSD
 0     2014-01-19        NaN
 1     2014-01-20        NaN
 2     2014-01-21        NaN
 3     2014-01-22        NaN
 4     2014-01-23        NaN
 ...          ...        ...
 3195  2022-10-19  39.733126
 3196  2022-10-20  39.660913
 3197  2022-10-21  40.642686
 3198  2022-10-22  40.845968
 3199  2022-10-23        NaN

 [3200 rows x 2 columns],
             time   PriceUSD
 0     2016-02-08        NaN
 1     2016-02-09        NaN
 2     2016-02-10        NaN
 3     2016-02-11        NaN
 4     2016-02-12        NaN
 ...          ...        ...
 2445  2022-10-19  25.659460
 2446  2022-10-20  25.441155
 2447  2022-10-21  26.810458
 2448  2022-10-22  26.168882
 2449  2022-10-23        NaN

 [2450 rows x 2 columns],
             time  PriceUSD
 0     2014-01-10       NaN
 1     2014-01-11       NaN
 2     2014-01-12       NaN
 3     2014-01-13       NaN
 4     2014-01-14       NaN
 ...          ...       ...
 3204  2022-10-19  0.008412
 3205  2022-10-20  0.008349
 3206  2022-10-21  0.008477
 3207  2022-10-22  0.008518
 3208  2022-10-23       NaN

 [3209 rows x 2 columns],
             time  PriceUSD
 0     2013-12-08       NaN
 1     2013-12-09       NaN
 2     2013-12-10       NaN
 3     2013-12-11       NaN
 4     2013-12-12       NaN
 ...          ...       ...
 3237  2022-10-19  0.058686
 3238  2022-10-20  0.059445
 3239  2022-10-21  0.059366
 3240  2022-10-22  0.059669
 3241  2022-10-23       NaN

 [3242 rows x 2 columns],
            time  PriceUSD
 0    2020-05-26       NaN
 1    2020-05-27       NaN
 2    2020-05-28       NaN
 3    2020-05-29       NaN
 4    2020-05-30       NaN
 ..          ...       ...
 876  2022-10-19  6.116549
 877  2022-10-20  5.878154
 878  2022-10-21  5.833795
 879  2022-10-22  5.847921
 880  2022-10-23       NaN

 [881 rows x 2 columns],
             time  PriceUSD
 0     2017-11-30       NaN
 1     2017-12-01       NaN
 2     2017-12-02       NaN
 3     2017-12-03       NaN
 4     2017-12-04       NaN
 ...          ...       ...
 1784  2022-10-19  0.015361
 1785  2022-10-20  0.014908
 1786  2022-10-21  0.015478
 1787  2022-10-22  0.015105
 1788  2022-10-23       NaN

 [1789 rows x 2 columns],
             time  PriceUSD
 0     2017-12-18       NaN
 1     2017-12-19       NaN
 2     2017-12-20       NaN
 3     2017-12-21       NaN
 4     2017-12-22  0.858536
 ...          ...       ...
 1766  2022-10-19  0.126494
 1767  2022-10-20  0.125183
 1768  2022-10-21  0.124263
 1769  2022-10-22  0.125025
 1770  2022-10-23       NaN

 [1771 rows x 2 columns],
             time  PriceUSD
 0     2017-06-30       NaN
 1     2017-07-01       NaN
 2     2017-07-02       NaN
 3     2017-07-03       NaN
 4     2017-07-04       NaN
 ...          ...       ...
 1937  2022-10-19  1.004044
 1938  2022-10-20  1.038748
 1939  2022-10-21  1.069963
 1940  2022-10-22  1.068349
 1941  2022-10-23       NaN

 [1942 rows x 2 columns],
            time   PriceUSD
 0    2017-06-20        NaN
 1    2017-06-21        NaN
 2    2017-06-22        NaN
 3    2017-06-23        NaN
 4    2017-06-24        NaN
 ..          ...        ...
 343  2018-05-29  12.070022
 344  2018-05-30  11.873735
 345  2018-05-31  12.212442
 346  2018-06-01  12.171047
 347  2018-06-02  14.816662

 [348 rows x 2 columns],
             time   PriceUSD
 0     2016-07-20        NaN
 1     2016-07-21        NaN
 2     2016-07-22        NaN
 3     2016-07-23        NaN
 4     2016-07-24        NaN
 ...          ...        ...
 2282  2022-10-19  22.374404
 2283  2022-10-20  21.645383
 2284  2022-10-21  22.030825
 2285  2022-10-22  23.222872
 2286  2022-10-23        NaN

 [2287 rows x 2 columns],
             time     PriceUSD
 0     2015-07-30          NaN
 1     2015-07-31          NaN
 2     2015-08-01          NaN
 3     2015-08-02          NaN
 4     2015-08-03          NaN
 ...          ...          ...
 2638  2022-10-19  1284.664474
 2639  2022-10-20  1281.908138
 2640  2022-10-21  1299.875292
 2641  2022-10-22  1314.306323
 2642  2022-10-23          NaN

 [2643 rows x 2 columns],
             time   PriceUSD
 0     2019-04-21        NaN
 1     2019-04-22        NaN
 2     2019-04-23        NaN
 3     2019-04-24        NaN
 4     2019-04-25        NaN
 ...          ...        ...
 1277  2022-10-19  22.597524
 1278  2022-10-20  22.395603
 1279  2022-10-21  22.452177
 1280  2022-10-22  22.582590
 1281  2022-10-23        NaN

 [1282 rows x 2 columns],
             time  PriceUSD
 0     2017-07-07       NaN
 1     2017-07-08       NaN
 2     2017-07-09       NaN
 3     2017-07-10       NaN
 4     2017-07-11       NaN
 ...          ...       ...
 1930  2022-10-19  0.007208
 1931  2022-10-20  0.007179
 1932  2022-10-21  0.007247
 1933  2022-10-22  0.007247
 1934  2022-10-23       NaN

 [1935 rows x 2 columns],
            time  PriceUSD
 0    2019-01-04       NaN
 1    2019-01-05       NaN
 2    2019-01-06       NaN
 3    2019-01-07       NaN
 4    2019-01-08       NaN
 ..          ...       ...
 750  2021-01-23   0.00442
 751  2021-01-24   0.00442
 752  2021-01-25   0.00442
 753  2021-01-26       NaN
 754  2021-01-27       NaN

 [755 rows x 2 columns],
             time  PriceUSD
 0     2016-10-17       NaN
 1     2016-10-18       NaN
 2     2016-10-19       NaN
 3     2016-10-20       NaN
 4     2016-10-21       NaN
 ...          ...       ...
 2193  2022-10-19  2.153281
 2194  2022-10-20  2.162378
 2195  2022-10-21  2.193223
 2196  2022-10-22  2.210407
 2197  2022-10-23       NaN

 [2198 rows x 2 columns],
             time    PriceUSD
 0     2017-04-18         NaN
 1     2017-04-19         NaN
 2     2017-04-20         NaN
 3     2017-04-21         NaN
 4     2017-04-22         NaN
 ...          ...         ...
 2010  2022-10-19  108.485947
 2011  2022-10-20  107.911783
 2012  2022-10-21  109.554423
 2013  2022-10-22  110.692243
 2014  2022-10-23         NaN

 [2015 rows x 2 columns],
             time  PriceUSD
 0     2016-11-10       NaN
 1     2016-11-11       NaN
 2     2016-11-12       NaN
 3     2016-11-13       NaN
 4     2016-11-14       NaN
 ...          ...       ...
 2168  2022-10-18  0.261141
 2169  2022-10-19  0.261829
 2170  2022-10-20  0.254487
 2171  2022-10-21  0.255929
 2172  2022-10-22  0.255226

 [2173 rows x 2 columns],
             time  PriceUSD
 0     2019-01-15       NaN
 1     2019-01-16       NaN
 2     2019-01-17       NaN
 3     2019-01-18       NaN
 4     2019-01-19       NaN
 ...          ...       ...
 1373  2022-10-19  0.047172
 1374  2022-10-20  0.045560
 1375  2022-10-21  0.045501
 1376  2022-10-22  0.045479
 1377  2022-10-23       NaN

 [1378 rows x 2 columns],
             time  PriceUSD
 0     2018-09-09       NaN
 1     2018-09-10       NaN
 2     2018-09-11       NaN
 3     2018-09-12       NaN
 4     2018-09-13       NaN
 ...          ...       ...
 1501  2022-10-19  1.000024
 1502  2022-10-20  0.999396
 1503  2022-10-21  0.999928
 1504  2022-10-22  1.000415
 1505  2022-10-23       NaN

 [1506 rows x 2 columns],
             time      PriceUSD
 0     2019-12-09   7340.227459
 1     2019-12-10   7232.091784
 2     2019-12-11   7200.464446
 3     2019-12-12   7192.849024
 4     2019-12-13   7244.903720
 ...          ...           ...
 1044  2022-10-18  19341.407554
 1045  2022-10-19  19132.154425
 1046  2022-10-20  19033.376024
 1047  2022-10-21  19174.876349
 1048  2022-10-22  19207.628508

 [1049 rows x 2 columns],
             time  PriceUSD
 0     2019-04-09       NaN
 1     2019-04-10       NaN
 2     2019-04-11       NaN
 3     2019-04-12       NaN
 4     2019-04-13       NaN
 ...          ...       ...
 1288  2022-10-18       NaN
 1289  2022-10-19       NaN
 1290  2022-10-20       NaN
 1291  2022-10-21       NaN
 1292  2022-10-22       NaN

 [1293 rows x 2 columns],
             time  PriceUSD
 0     2018-01-31       NaN
 1     2018-02-01       NaN
 2     2018-02-02       NaN
 3     2018-02-03       NaN
 4     2018-02-04       NaN
 ...          ...       ...
 1722  2022-10-19  7.623313
 1723  2022-10-20  7.710398
 1724  2022-10-21  7.761120
 1725  2022-10-22  8.802789
 1726  2022-10-23       NaN

 [1727 rows x 2 columns],
             time  PriceUSD
 0     2019-03-17       NaN
 1     2019-03-18       NaN
 2     2019-03-19       NaN
 3     2019-03-20       NaN
 4     2019-03-21       NaN
 ...          ...       ...
 1312  2022-10-19  0.990372
 1313  2022-10-20  0.990372
 1314  2022-10-21  0.990372
 1315  2022-10-22  0.990372
 1316  2022-10-23       NaN

 [1317 rows x 2 columns],
            time  PriceUSD
 0    2021-05-06       NaN
 1    2021-05-07       NaN
 2    2021-05-08       NaN
 3    2021-05-09       NaN
 4    2021-05-10       NaN
 ..          ...       ...
 531  2022-10-19  4.818324
 532  2022-10-20  4.819030
 533  2022-10-21  4.892375
 534  2022-10-22  4.903294
 535  2022-10-23       NaN

 [536 rows x 2 columns],
             time  PriceUSD
 0     2017-09-12       NaN
 1     2017-09-13       NaN
 2     2017-09-14       NaN
 3     2017-09-15       NaN
 4     2017-09-16       NaN
 ...          ...       ...
 1863  2022-10-19  0.874920
 1864  2022-10-20  0.853262
 1865  2022-10-21  0.850692
 1866  2022-10-22  0.843150
 1867  2022-10-23       NaN

 [1868 rows x 2 columns],
             time  PriceUSD
 0     2017-09-17       NaN
 1     2017-09-18       NaN
 2     2017-09-19       NaN
 3     2017-09-20       NaN
 4     2017-09-21       NaN
 ...          ...       ...
 1857  2022-10-18  0.825785
 1858  2022-10-19  0.827565
 1859  2022-10-20  0.808646
 1860  2022-10-21  0.819371
 1861  2022-10-22  0.821009

 [1862 rows x 2 columns],
             time  PriceUSD
 0     2019-05-21  1.072545
 1     2019-05-22  1.124297
 2     2019-05-23  1.111262
 3     2019-05-24  1.217438
 4     2019-05-25  1.334531
 ...          ...       ...
 1246  2022-10-18  4.302015
 1247  2022-10-19  4.140519
 1248  2022-10-20  4.086877
 1249  2022-10-21  4.071808
 1250  2022-10-22  4.092391

 [1251 rows x 2 columns],
             time  PriceUSD
 0     2019-05-21  1.072545
 1     2019-05-22  1.124297
 2     2019-05-23  1.111262
 3     2019-05-24  1.217438
 4     2019-05-25  1.334531
 ...          ...       ...
 1246  2022-10-18  4.302015
 1247  2022-10-19  4.140519
 1248  2022-10-20  4.086877
 1249  2022-10-21  4.071808
 1250  2022-10-22  4.092391

 [1251 rows x 2 columns],
             time  PriceUSD
 0     2017-09-16       NaN
 1     2017-09-17       NaN
 2     2017-09-18       NaN
 3     2017-09-19       NaN
 4     2017-09-20       NaN
 ...          ...       ...
 1859  2022-10-19  6.779855
 1860  2022-10-20  6.659360
 1861  2022-10-21  6.814740
 1862  2022-10-22  6.875692
 1863  2022-10-23       NaN

 [1864 rows x 2 columns],
             time  PriceUSD
 0     2018-03-03       NaN
 1     2018-03-04       NaN
 2     2018-03-05       NaN
 3     2018-03-06       NaN
 4     2018-03-07       NaN
 ...          ...       ...
 1691  2022-10-19  0.047100
 1692  2022-10-20  0.046691
 1693  2022-10-21  0.046559
 1694  2022-10-22  0.046482
 1695  2022-10-23       NaN

 [1696 rows x 2 columns],
             time  PriceUSD
 0     2018-04-30       NaN
 1     2018-05-01       NaN
 2     2018-05-02       NaN
 3     2018-05-03       NaN
 4     2018-05-04       NaN
 ...          ...       ...
 1633  2022-10-19  8.398572
 1634  2022-10-20  8.818563
 1635  2022-10-21  8.785315
 1636  2022-10-22  8.800621
 1637  2022-10-23       NaN

 [1638 rows x 2 columns],
             time   PriceUSD
 0     2011-10-07        NaN
 1     2011-10-08        NaN
 2     2011-10-09        NaN
 3     2011-10-10        NaN
 4     2011-10-11        NaN
 ...          ...        ...
 4030  2022-10-19  50.982679
 4031  2022-10-20  51.164607
 4032  2022-10-21  51.639209
 4033  2022-10-22  52.188683
 4034  2022-10-23        NaN

 [4035 rows x 2 columns],
             time  PriceUSD
 0     2014-04-22       NaN
 1     2014-04-23       NaN
 2     2014-04-24       NaN
 3     2014-04-25       NaN
 4     2014-04-26       NaN
 ...          ...       ...
 3102  2022-10-19  0.121503
 3103  2022-10-20  0.124755
 3104  2022-10-21  0.129414
 3105  2022-10-22  0.105661
 3106  2022-10-23       NaN

 [3107 rows x 2 columns],
             time  PriceUSD
 0     2017-08-15       NaN
 1     2017-08-16       NaN
 2     2017-08-17       NaN
 3     2017-08-18       NaN
 4     2017-08-19       NaN
 ...          ...       ...
 1891  2022-10-19  0.607026
 1892  2022-10-20  0.601022
 1893  2022-10-21  0.614998
 1894  2022-10-22  0.611302
 1895  2022-10-23       NaN

 [1896 rows x 2 columns],
             time  PriceUSD
 0     2019-04-20       NaN
 1     2019-04-21       NaN
 2     2019-04-22       NaN
 3     2019-04-23       NaN
 4     2019-04-24       NaN

### Cambiar formato a fecha

In [10]:
# Crear un Dataframe a partir de un array de 2x2
array1 = {'tiempo':["1996-10-04","1996-10-05"],
          'PriceUSD': [25000,50000]}

dataf = pd.DataFrame(data = array1)

# Renombrar la columna "tiempo" por "Time"
dataf.rename(index = str, columns = {"tiempo": "Time"}, inplace = True)

# Cambiar el DType de la columna "Time"
dataf['Time'] = pd.to_datetime(dataf['Time'], errors='coerce')

# Cambiar el formato de la fecha de YYY-MM-DD a DD-MM-YYYY (%y/%m/%d)
dataf['Time'] = dataf["Time"].dt.strftime('%d/%m/%Y')

In [11]:
# Obtener un dataframe con una query de condición booleana (puede ser un index)
df2 = df[np.array(df["Existe"] == "True", dtype = bool)]

# Obtener el mismo Dataframe por otro método (no funciona)
df3 = df.loc[df['Existe'] == True] 

# Longitud de los nuevos dataframes por si coincide con el Dataframe creado: dflistpriceusd
print([len(df2),len(dflistpriceusd), len(df3)])

[104, 104, 0]

# POR AQUI: Creando un loop que añada una row en cada iteracción. Queda pendiente descifrar el chunk de ejemplo según el [Link](https://stackoverflow.com/questions/50188852/python-add-rows-into-existing-dataframe-with-loop)


Añadido:
[Link sobre longitud de rows](https://stackoverflow.com/questions/17468878/pandas-python-how-to-count-the-number-of-records-or-rows-in-a-dataframe)

Dividir la tarea en subtareas más simples:
* Crear un dataframe que contenga únicamente unas columnas cuyos nombres sean elementos del objeto nombresprice.
* Conseguir utilizar la columna de tiempo del objeto temp_df_priceusd como index de las filas.
* Encontrar el rango de la columna time del objeto anterior más amplio y utilizarlo como index o directamente establecer una franja de tiempo suficientemente amplia para que contenga todas las observaciones de todos los casos.
* Romper el temp_df_priceusd en criptoactivos para seleccionarlos como elementos individuales presentados como columnas, de manera que la dimensión del objeto sea: max_range_tiempo:nombrespriceusd.

In [12]:
listnombresprice = []
for i in range(len(dflistpriceusd)):
    print([len(dflistpriceusd[i]), nombresprice[i]])
    
   
# Dataframe que marca si existe en la lista y su posición en la lista original    
df = pd.DataFrame({
    "Existe": boo,
    "Posición": longli})

NameError: name 'nombresprice' is not defined

In [13]:
maslargo = []
for i in range(len(dflistpriceusd)):
    maximo = len(dflistpriceusd.iloc[i])
    maslargo.append(maximo)
print([maslargo, 
       "Valor máximo:", max(maslargo), 
       "Posición en la lista:", maslargo.index(max(maslargo)),
       "Nombre del activo:", nombres[maslargo.index(max(maslargo))]
       ])

AttributeError: 'list' object has no attribute 'iloc'

In [ ]:
# Tratar de armar un dataframe válido
for i in range(len(df2)):
    data = pd.DataFrame("Poner una concatenacion")
    antiguo = "tratar de obtener una funcion que saque el nombre de la columna y lo pegue string"
    nuevo = nombres[i]
data[""] = data.rename(index = str, columns = {"antiguonombre": "nuevo"}, inplace = True)

In [ ]:
# Poner de row index la columna time
df = pd.concat(dflistpriceusd).fillna(0).sort_index().reset_index(drop=True)
df.insert(0, 'time', range(1, len(df) + 1))
print (df)

In [ ]:
# Crea un dataframe de pandas a partir de la lista
finaldataframenombres = pd.DataFrame(nombres, columns = nombres)

# Muestra la tabla
print(finaldataframenombres)