# Cryptocurrency Market Efficiency

Este cuaderno está orientado a la documentación de los cálculos.

## Librerías

In [1]:
import pandas as pd
import numpy as np
import glob
import openpyxl

## Lectura de ejemplo

Dado que se van a analizar las hipótesis de eficiencia de los mercados de criptomonedas, se va a limitar el tamaño del _DataFrame_. En concreto, se van a conservar las columnas _time_ y _PriceUSD_, relativas a la fecha y al precio en dólares, respectivamente. Esto con el objetivo de calcular las rentabilidades.

In [2]:
BTC = pd.read_csv("csv221022/btc.csv",
                  sep = ",",
                  header = 0,
                  usecols = ["time","PriceUSD"],
                  parse_dates= ["time"])
BTC

           time      PriceUSD
0    2009-01-03           NaN
1    2009-01-04           NaN
2    2009-01-05           NaN
3    2009-01-06           NaN
4    2009-01-07           NaN
...         ...           ...
5037 2022-10-19  19132.154425
5038 2022-10-20  19033.376024
5039 2022-10-21  19174.876349
5040 2022-10-22  19207.628508
5041 2022-10-23           NaN

[5042 rows x 2 columns]

In [ ]:
# Concatenar los dos dataframes en uno solo
result = pd.merge(df1, df2, on="time", how="outer", suffixes=("btc", "xtz"))

# Mostrar el dataframe final
print(result)

         time      btc           xtz
0  2010-02-23      1.0           NaN
1  2018-11-11  16000.0  1.2977941496
2  2017-07-05      NaN          1,58

In [ ]:
XTZ = pd.read_csv("csv221022/xtz.csv",
                  sep = ",",
                  header = 0,
                  usecols = ["time","PriceUSD"],
                  parse_dates= ["time"])
XTZ

           time  PriceUSD
0    2017-06-25       NaN
1    2017-06-26       NaN
2    2017-06-27       NaN
3    2017-06-28       NaN
4    2017-06-29       NaN
...         ...       ...
2009 2022-12-25  0.785139
2010 2022-12-26  0.793922
2011 2022-12-27  0.770762
2012 2022-12-28  0.735801
2013 2022-12-29       NaN

[2014 rows x 2 columns]

## Generar una lista de nombres de los activos, a partir de los archivos csv

In [ ]:
path = "csv221022/"
csvs = sorted(glob.glob(path + "*.csv"))
nombres = [element.replace("csv221022/", "") for element in csvs]
nombres = [element.replace(".csv", "") for element in nombres]

## Lectura de todos los csv

Añadir una linea de codigo al bucle que consiga modificar el nombre del ultimo elemento añadido a la lista a través de corchetes y un replace

In [ ]:
dataframes_list = []
for i in range(len(nombres)):
    temp_df = pd.read_csv(filepath_or_buffer = "csv221022/"+nombres[i]+".csv",
                          header = 0,
                          sep = ",",
                          parse_dates = ["time"])
    dataframes_list.append(temp_df)

/home/filibustero/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (146) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
#Calcula el número de columna que coincida con PriceUSD en el df concreto del loop for anterior
len(temp_df.columns=="PriceUSD")

112

### Comprobar si existe la columna "PriceUSD" en todos los CSV

In [ ]:
dataframes_list = []
boo = []
longli = []
archli = []
for i in range(len(nombres)):
    temp_df = pd.read_csv(filepath_or_buffer = "csv221022/"+nombres[i]+".csv",
                          header = 0,
                          sep = ",")
    if "PriceUSD" in temp_df.columns:
            boo1 = "True"
            longi = len(temp_df.columns == "PriceUSD")
            longli.append(longi)
            archi = nombres[i]
            boo.append(boo1)
            archli.append(archi)
    else:
            boo1 = "False"
            boo.append(boo1)
            longi = "NaN"
            longli.append(longi)
            archi = nombres[i]
            archli.append(archi)
            
    dataframes_list.append(temp_df)
df = pd.DataFrame({
    "Existe":boo,
    "Nombre":archli,
    "Posición":longli})
df

    Existe Nombre Posición
0     True  1inch      112
1     True   aave      112
2    False   abbc      NaN
3    False    abt      NaN
4    False    aca      NaN
..     ...    ...      ...
578   True    zec      132
579  False    zen      NaN
580  False    zil      NaN
581  False    zks      NaN
582   True    zrx      112

[583 rows x 3 columns]

### Creación del _Dataframe_ final

El siguiente fragmento de código crea dos listas, _dflistcompleto_ y _dflistpriceusd_, y utiliza un bucle _for_ para iterar a través de una lista de nombres obtenidos anteriormente. Dentro del bucle, se lee un archivo CSV utilizando la función _read_csv_ de la librería Pandas y se almacena el resultado en un _dataframe_ temporal llamado _temp_df_.

Luego, se comprueba si la columna "PriceUSD" está presente en el dataframe temporal con la instrucción _if_ "PriceUSD" en _temp_df.columns_. Si dicha columna está presente, se lee de nuevo el archivo CSV, pero esta vez sólo se incluyen las columnas "time" y "PriceUSD" utilizando el argumento _usecols_. El resultado se almacena en otro _dataframe_ temporal llamado _temp_df_priceusd_, y se renombra la columna "PriceUSD" con el nombre que se encuentra en la lista de nombres. Finalmente, se añade el dataframe temporal a la lista _dflistpriceusd_. Si la columna "PriceUSD" no está presente en el _dataframe_ temporal, se salta el resto del bucle con la instrucción _continue_.

Por último, se añade el dataframe temporal original a la lista _dflistcompleto_. Al finalizar el bucle, ambas listas contendrán dataframes leídos de archivos CSV con nombres específicos.

In [ ]:
dflistcompleto = []
dflistpriceusd = []
for i in range(len(nombres)):
    temp_df = pd.read_csv(filepath_or_buffer = "csv221022/" + nombres[i] + ".csv",
                          header = 0,
                          sep = ",")
    if "PriceUSD" in temp_df.columns:
        temp_df_priceusd = pd.read_csv(filepath_or_buffer = "csv221022/" + nombres[i] + ".csv",
                          header = 0,
                          usecols = ["time", "PriceUSD"],
                          sep = ",")
        temp_df_priceusd.rename(columns = {'PriceUSD': nombres[i]}, inplace = True)
        dflistpriceusd.append(temp_df_priceusd)
        temp_df_priceusd.set_index("time")
        #temp_df_priceusd.drop(columns = "time")
    else:
        continue
    dflistcompleto.append(temp_df)
    

#df_merged = pd.concat(dflistpriceusCambios gitignored, sort=False)

/home/filibustero/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (146) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_priceusd = pd.concat(dflistpriceusd, axis = 0, join = "outer")

### Comprobar valor máximo, posición en la lista y nombre del activo

In [ ]:
maslargo = []
for i in range(len(dflistpriceusd)):
    maximo = len(dflistpriceusd[i])
    maslargo.append(maximo)
print(["Longitud de cada elemento de la lista:", maslargo, 
       "Valor máximo:", max(maslargo), 
       "Posición en la lista:", maslargo.index(max(maslargo)),
       "Nombre del activo:", nombres[maslargo.index(max(maslargo))]
       ])

['Longitud de cada elemento de la lista:', [737, 827, 1924, 1298, 824, 2055, 923, 2041, 1980, 2004, 657, 1511, 5109, 1893, 1212, 1031, 1507, 870, 1998, 1143, 3267, 2517, 3276, 3309, 948, 1856, 1838, 2009, 348, 2354, 2710, 1349, 2002, 2265, 2082, 2240, 1445, 1573, 1116, 1360, 1794, 1383, 603, 1935, 1929, 1318, 1318, 1931, 1763, 1705, 4102, 3174, 1963, 1349, 2468, 2359, 1316, 2004, 1574, 1222, 2023, 846, 1796, 2036, 1999, 1907, 1729, 1825, 961, 2631, 1008, 1738, 2021, 1755, 882, 856, 847, 1909, 302, 1762, 1086, 837, 1610, 1324, 3288, 1857, 3006, 1353, 3276, 1497, 1843, 905, 1991, 1087, 2831, 3061, 3178, 3650, 2014, 3004, 896, 2254, 1967], 'Valor máximo:', 5109, 'Posición en la lista:', 12, 'Nombre del activo:', 'aioz']

### Comprobar la longitud del dataframe

In [ ]:
print(df_priceusd.count())

time     187266
1inch       733
aave        810
ada        1854
algo       1286
          ...
xtz        1643
xvg        1916
yfi         887
zec        2252
zrx        1966
Length: 104, dtype: int64

### Cambiar formato a fecha

In [ ]:
# Renombrar columna
df_priceusd.rename(index = str, columns = {"time": "Time"}, inplace = True)

# Cambiar el DType de la columna "Time"
#df_priceusd['Time'] = pd.to_datetime(df_priceusd['Time'])

# Cambiar el formato de la fecha de YYY-MM-DD a DD-MM-YYYY (%y/%m/%d)
#df_priceusd['Time'] = df_priceusd["Time"].dt.strftime('%d-%m-%Y')

# Ordenar las fechas de forma ascendente MAL
#df_priceusd.sort_values(by = "Time", ascending = True, inplace = False)
df_priceusd.sort_values(by = "Time", key = pd.to_datetime)

In [ ]:
df_priceusd

,Time,1inch,aave,ada,algo,alpha,ant,bal,bat,bch,...,xaut,xem,xlm,xmr,xrp,xtz,xvg,yfi,zec,zrx
0,2020-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-12-26,1.619328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-12-27,1.072350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962,2022-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.163819
1963,2022-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.163823
1964,2022-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160283
1965,2022-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.153643
1966,2022-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Exportar _dataframe_ final a XLSX

In [ ]:
df_priceusd.to_excel("dataframefinal.xlsx", index = False)

In [ ]:
# Lista con los datos para crear los dataframes
my_list = dflistpriceusd

df_list = []

# Nombres de las columnas
column_names = nombres

# Bucle para separar los elementos de la lista en dataframes individuales
contador = 0
for element in my_list:
    df = pd.DataFrame(element, columns = ["time", "priceusd"])
    df.rename(index = str, columns = {"priceusd": nombres[contador]}, inplace = True)
    contador = contador + 1
    df_list.append(df)

# Mostrar los dataframes separados
for df in df_list:
    print("df", df)

df            time  1inch
0    2020-12-23    NaN
1    2020-12-24    NaN
2    2020-12-25    NaN
3    2020-12-26    NaN
4    2020-12-27    NaN
..          ...    ...
732  2022-12-25    NaN
733  2022-12-26    NaN
734  2022-12-27    NaN
735  2022-12-28    NaN
736  2022-12-29    NaN

[737 rows x 2 columns]
df            time  aave
0    2020-09-24   NaN
1    2020-09-25   NaN
2    2020-09-26   NaN
3    2020-09-27   NaN
4    2020-09-28   NaN
..          ...   ...
822  2022-12-25   NaN
823  2022-12-26   NaN
824  2022-12-27   NaN
825  2022-12-28   NaN
826  2022-12-29   NaN

[827 rows x 2 columns]
df             time  abbc
0     2017-09-23   NaN
1     2017-09-24   NaN
2     2017-09-25   NaN
3     2017-09-26   NaN
4     2017-09-27   NaN
...          ...   ...
1919  2022-12-25   NaN
1920  2022-12-26   NaN
1921  2022-12-27   NaN
1922  2022-12-28   NaN
1923  2022-12-29   NaN

[1924 rows x 2 columns]
df             time  abt
0     2019-06-11  NaN
1     2019-06-12  NaN
2     2019-06-13  NaN
3     2019-06-14  NaN
4     2019-06-15  NaN
...          ...  ...
1293  2022-12-25  NaN
1294  2022-12-26  NaN
1295  2022-12-27  NaN
1296  2022-12-28  NaN
1297  2022-12-29  NaN

[1298 rows x 2 columns]
df            time  aca
0    2020-09-27  NaN
1    2020-09-28  NaN
2    2020-09-29  NaN
3    2020-09-30  NaN
4    2020-10-01  NaN
..          ...  ...
819  2022-12-25  NaN
820  2022-12-26  NaN
821  2022-12-27  NaN
822  2022-12-28  NaN
823  2022-12-29  NaN

[824 rows x 2 columns]
df             time  ach
0     2017-05-15  NaN
1     2017-05-16  NaN
2     2017-05-17  NaN
3     2017-05-18  NaN
4     2017-05-19  NaN
...          ...  ...
2050  2022-12-25  NaN
2051  2022-12-26  NaN
2052  2022-12-27  NaN
2053  2022-12-28  NaN
2054  2022-12-29  NaN

[2055 rows x 2 columns]
df            time  ada
0    2020-06-20  NaN
1    2020-06-21  NaN
2    2020-06-22  NaN
3    2020-06-23  NaN
4    2020-06-24  NaN
..          ...  ...
918  2022-12-25  NaN
919  2022-12-26  NaN
920  2022-12-27  NaN
921  2022-12-28  NaN
922  2022-12-29  NaN

[923 rows x 2 columns]
df             time  adx
0     2017-05-29  NaN
1     2017-05-30  NaN
2     2017-05-31  NaN
3     2017-06-01  NaN
4     2017-06-02  NaN
...          ...  ...
2036  2022-12-25  NaN
2037  2022-12-26  NaN
2038  2022-12-27  NaN
2039  2022-12-28  NaN
2040  2022-12-29  NaN

[2041 rows x 2 columns]
df             time  ae
0     2017-07-29 NaN
1     2017-07-30 NaN
2     2017-07-31 NaN
3     2017-08-01 NaN
4     2017-08-02 NaN
...          ...  ..
1975  2022-12-25 NaN
1976  2022-12-26 NaN
1977  2022-12-27 NaN
1978  2022-12-28 NaN
1979  2022-12-29 NaN

[1980 rows x 2 columns]
df             time  aergo
0     2017-07-05    NaN
1     2017-07-06    NaN
2     2017-07-07    NaN
3     2017-07-08    NaN
4     2017-07-09    NaN
...          ...    ...
1999  2022-12-25    NaN
2000  2022-12-26    NaN
2001  2022-12-27    NaN
2002  2022-12-28    NaN
2003  2022-12-29    NaN

[2004 rows x 2 columns]
df            time  agld
0    2017-07-05   NaN
1    2017-07-06   NaN
2    2017-07-07   NaN
3    2017-07-08   NaN
4    2017-07-09   NaN
..          ...   ...
652  2019-04-18   NaN
653  2019-04-19   NaN
654  2019-04-20   NaN
655  2019-04-21   NaN
656  2019-04-22   NaN

[657 rows x 2 columns]
df             time  aion
0     2018-11-10   NaN
1     2018-11-11   NaN
2     2018-11-12   NaN
3     2018-11-13   NaN
4     2018-11-14   NaN
...          ...   ...
1506  2022-12-25   NaN
1507  2022-12-26   NaN
1508  2022-12-27   NaN
1509  2022-12-28   NaN
1510  2022-12-29   NaN

[1511 rows x 2 columns]
df             time  aioz
0     2009-01-03   NaN
1     2009-01-04   NaN
2     2009-01-05   NaN
3     2009-01-06   NaN
4     2009-01-07   NaN
...          ...   ...
5104  2022-12-25   NaN
5105  2022-12-26   NaN
5106  2022-12-27   NaN
5107  2022-12-28   NaN
5108  2022-12-29   NaN

[5109 rows x 2 columns]
df             time  akro
0     2017-10-24   NaN
1     2017-10-25   NaN
2     2017-10-26   NaN
3     2017-10-27   NaN
4     2017-10-28   NaN
...          ...   ...
1888  2022-12-25   NaN
1889  2022-12-26   NaN
1890  2022-12-27   NaN
1891  2022-12-28   NaN
1892  2022-12-29   NaN

[1893 rows x 2 columns]
df             time  akt
0     2019-09-05  NaN
1     2019-09-06  NaN
2     2019-09-07  NaN
3     2019-09-08  NaN
4     2019-09-09  NaN
...          ...  ...
1207  2022-12-25  NaN
1208  2022-12-26  NaN
1209  2022-12-27  NaN
1210  2022-12-28  NaN
1211  2022-12-29  NaN

[1212 rows x 2 columns]
df             time  alcx
0     2020-03-04   NaN
1     2020-03-05   NaN
2     2020-03-06   NaN
3     2020-03-07   NaN
4     2020-03-08   NaN
...          ...   ...
1026  2022-12-25   NaN
1027  2022-12-26   NaN
1028  2022-12-27   NaN
1029  2022-12-28   NaN
1030  2022-12-29   NaN

[1031 rows x 2 columns]
df             time  aleph
0     2018-11-14    NaN
1     2018-11-15    NaN
2     2018-11-16    NaN
3     2018-11-17    NaN
4     2018-11-18    NaN
...          ...    ...
1502  2022-12-25    NaN
1503  2022-12-26    NaN
1504  2022-12-27    NaN
1505  2022-12-28    NaN
1506  2022-12-29    NaN

[1507 rows x 2 columns]
df            time  algo
0    2020-08-12   NaN
1    2020-08-13   NaN
2    2020-08-14   NaN
3    2020-08-15   NaN
4    2020-08-16   NaN
..          ...   ...
865  2022-12-25   NaN
866  2022-12-26   NaN
867  2022-12-27   NaN
868  2022-12-28   NaN
869  2022-12-29   NaN

[870 rows x 2 columns]
df             time  alice
0     2017-07-11    NaN
1     2017-07-12    NaN
2     2017-07-13    NaN
3     2017-07-14    NaN
4     2017-07-15    NaN
...          ...    ...
1993  2022-12-25    NaN
1994  2022-12-26    NaN
1995  2022-12-27    NaN
1996  2022-12-28    NaN
1997  2022-12-29    NaN

[1998 rows x 2 columns]
df             time  alpaca
0     2019-11-13     NaN
1     2019-11-14     NaN
2     2019-11-15     NaN
3     2019-11-16     NaN
4     2019-11-17     NaN
...          ...     ...
1138  2022-12-25     NaN
1139  2022-12-26     NaN
1140  2022-12-27     NaN
1141  2022-12-28     NaN
1142  2022-12-29     NaN

[1143 rows x 2 columns]
df             time  alpha
0     2014-01-19    NaN
1     2014-01-20    NaN
2     2014-01-21    NaN
3     2014-01-22    NaN
4     2014-01-23    NaN
...          ...    ...
3262  2022-12-25    NaN
3263  2022-12-26    NaN
3264  2022-12-27    NaN
3265  2022-12-28    NaN
3266  2022-12-29    NaN

[3267 rows x 2 columns]
df             time  alpine
0     2016-02-08     NaN
1     2016-02-09     NaN
2     2016-02-10     NaN
3     2016-02-11     NaN
4     2016-02-12     NaN
...          ...     ...
2512  2022-12-25     NaN
2513  2022-12-26     NaN
2514  2022-12-27     NaN
2515  2022-12-28     NaN
2516  2022-12-29     NaN

[2517 rows x 2 columns]
df             time  amb
0     2014-01-10  NaN
1     2014-01-11  NaN
2     2014-01-12  NaN
3     2014-01-13  NaN
4     2014-01-14  NaN
...          ...  ...
3271  2022-12-25  NaN
3272  2022-12-26  NaN
3273  2022-12-27  NaN
3274  2022-12-28  NaN
3275  2022-12-29  NaN

[3276 rows x 2 columns]
df             time  amp
0     2013-12-08  NaN
1     2013-12-09  NaN
2     2013-12-10  NaN
3     2013-12-11  NaN
4     2013-12-12  NaN
...          ...  ...
3304  2022-12-25  NaN
3305  2022-12-26  NaN
3306  2022-12-27  NaN
3307  2022-12-28  NaN
3308  2022-12-29  NaN

[3309 rows x 2 columns]
df            time  ampl
0    2020-05-26   NaN
1    2020-05-27   NaN
2    2020-05-28   NaN
3    2020-05-29   NaN
4    2020-05-30   NaN
..          ...   ...
943  2022-12-25   NaN
944  2022-12-26   NaN
945  2022-12-27   NaN
946  2022-12-28   NaN
947  2022-12-29   NaN

[948 rows x 2 columns]
df             time  anc
0     2017-11-30  NaN
1     2017-12-01  NaN
2     2017-12-02  NaN
3     2017-12-03  NaN
4     2017-12-04  NaN
...          ...  ...
1851  2022-12-25  NaN
1852  2022-12-26  NaN
1853  2022-12-27  NaN
1854  2022-12-28  NaN
1855  2022-12-29  NaN

[1856 rows x 2 columns]
df             time  angle
0     2017-12-18    NaN
1     2017-12-19    NaN
2     2017-12-20    NaN
3     2017-12-21    NaN
4     2017-12-22    NaN
...          ...    ...
1833  2022-12-25    NaN
1834  2022-12-26    NaN
1835  2022-12-27    NaN
1836  2022-12-28    NaN
1837  2022-12-29    NaN

[1838 rows x 2 columns]
df             time  ankr
0     2017-06-30   NaN
1     2017-07-01   NaN
2     2017-07-02   NaN
3     2017-07-03   NaN
4     2017-07-04   NaN
...          ...   ...
2004  2022-12-25   NaN
2005  2022-12-26   NaN
2006  2022-12-27   NaN
2007  2022-12-28   NaN
2008  2022-12-29   NaN

[2009 rows x 2 columns]
df            time  ant
0    2017-06-20  NaN
1    2017-06-21  NaN
2    2017-06-22  NaN
3    2017-06-23  NaN
4    2017-06-24  NaN
..          ...  ...
343  2018-05-29  NaN
344  2018-05-30  NaN
345  2018-05-31  NaN
346  2018-06-01  NaN
347  2018-06-02  NaN

[348 rows x 2 columns]
df             time  aoa
0     2016-07-20  NaN
1     2016-07-21  NaN
2     2016-07-22  NaN
3     2016-07-23  NaN
4     2016-07-24  NaN
...          ...  ...
2349  2022-12-25  NaN
2350  2022-12-26  NaN
2351  2022-12-27  NaN
2352  2022-12-28  NaN
2353  2022-12-29  NaN

[2354 rows x 2 columns]
df             time  ape
0     2015-07-30  NaN
1     2015-07-31  NaN
2     2015-08-01  NaN
3     2015-08-02  NaN
4     2015-08-03  NaN
...          ...  ...
2705  2022-12-25  NaN
2706  2022-12-26  NaN
2707  2022-12-27  NaN
2708  2022-12-28  NaN
2709  2022-12-29  NaN

[2710 rows x 2 columns]
df             time  api3
0     2019-04-21   NaN
1     2019-04-22   NaN
2     2019-04-23   NaN
3     2019-04-24   NaN
4     2019-04-25   NaN
...          ...   ...
1344  2022-12-25   NaN
1345  2022-12-26   NaN
1346  2022-12-27   NaN
1347  2022-12-28   NaN
1348  2022-12-29   NaN

[1349 rows x 2 columns]
df             time  ar
0     2017-07-07 NaN
1     2017-07-08 NaN
2     2017-07-09 NaN
3     2017-07-10 NaN
4     2017-07-11 NaN
...          ...  ..
1997  2022-12-25 NaN
1998  2022-12-26 NaN
1999  2022-12-27 NaN
2000  2022-12-28 NaN
2001  2022-12-29 NaN

[2002 rows x 2 columns]
df             time  ardr
0     2016-10-17   NaN
1     2016-10-18   NaN
2     2016-10-19   NaN
3     2016-10-20   NaN
4     2016-10-21   NaN
...          ...   ...
2260  2022-12-25   NaN
2261  2022-12-26   NaN
2262  2022-12-27   NaN
2263  2022-12-28   NaN
2264  2022-12-29   NaN

[2265 rows x 2 columns]
df             time  ark
0     2017-04-18  NaN
1     2017-04-19  NaN
2     2017-04-20  NaN
3     2017-04-21  NaN
4     2017-04-22  NaN
...          ...  ...
2077  2022-12-25  NaN
2078  2022-12-26  NaN
2079  2022-12-27  NaN
2080  2022-12-28  NaN
2081  2022-12-29  NaN

[2082 rows x 2 columns]
df             time  arpa
0     2016-11-10   NaN
1     2016-11-11   NaN
2     2016-11-12   NaN
3     2016-11-13   NaN
4     2016-11-14   NaN
...          ...   ...
2235  2022-12-24   NaN
2236  2022-12-25   NaN
2237  2022-12-26   NaN
2238  2022-12-27   NaN
2239  2022-12-28   NaN

[2240 rows x 2 columns]
df             time  arv
0     2019-01-15  NaN
1     2019-01-16  NaN
2     2019-01-17  NaN
3     2019-01-18  NaN
4     2019-01-19  NaN
...          ...  ...
1440  2022-12-25  NaN
1441  2022-12-26  NaN
1442  2022-12-27  NaN
1443  2022-12-28  NaN
1444  2022-12-29  NaN

[1445 rows x 2 columns]
df             time  asd
0     2018-09-09  NaN
1     2018-09-10  NaN
2     2018-09-11  NaN
3     2018-09-12  NaN
4     2018-09-13  NaN
...          ...  ...
1568  2022-12-25  NaN
1569  2022-12-26  NaN
1570  2022-12-27  NaN
1571  2022-12-28  NaN
1572  2022-12-29  NaN

[1573 rows x 2 columns]
df             time  asm
0     2019-12-09  NaN
1     2019-12-10  NaN
2     2019-12-11  NaN
3     2019-12-12  NaN
4     2019-12-13  NaN
...          ...  ...
1111  2022-12-24  NaN
1112  2022-12-25  NaN
1113  2022-12-26  NaN
1114  2022-12-27  NaN
1115  2022-12-28  NaN

[1116 rows x 2 columns]
df             time  ast
0     2019-04-09  NaN
1     2019-04-10  NaN
2     2019-04-11  NaN
3     2019-04-12  NaN
4     2019-04-13  NaN
...          ...  ...
1355  2022-12-24  NaN
1356  2022-12-25  NaN
1357  2022-12-26  NaN
1358  2022-12-27  NaN
1359  2022-12-28  NaN

[1360 rows x 2 columns]
df             time  astr
0     2018-01-31   NaN
1     2018-02-01   NaN
2     2018-02-02   NaN
3     2018-02-03   NaN
4     2018-02-04   NaN
...          ...   ...
1789  2022-12-25   NaN
1790  2022-12-26   NaN
1791  2022-12-27   NaN
1792  2022-12-28   NaN
1793  2022-12-29   NaN

[1794 rows x 2 columns]
df             time  astro
0     2019-03-17    NaN
1     2019-03-18    NaN
2     2019-03-19    NaN
3     2019-03-20    NaN
4     2019-03-21    NaN
...          ...    ...
1378  2022-12-24    NaN
1379  2022-12-25    NaN
1380  2022-12-26    NaN
1381  2022-12-27    NaN
1382  2022-12-28    NaN

[1383 rows x 2 columns]
df            time  ata
0    2021-05-06  NaN
1    2021-05-07  NaN
2    2021-05-08  NaN
3    2021-05-09  NaN
4    2021-05-10  NaN
..          ...  ...
598  2022-12-25  NaN
599  2022-12-26  NaN
600  2022-12-27  NaN
601  2022-12-28  NaN
602  2022-12-29  NaN

[603 rows x 2 columns]
df             time  atlas
0     2017-09-12    NaN
1     2017-09-13    NaN
2     2017-09-14    NaN
3     2017-09-15    NaN
4     2017-09-16    NaN
...          ...    ...
1930  2022-12-25    NaN
1931  2022-12-26    NaN
1932  2022-12-27    NaN
1933  2022-12-28    NaN
1934  2022-12-29    NaN

[1935 rows x 2 columns]
df             time  atom
0     2017-09-17   NaN
1     2017-09-18   NaN
2     2017-09-19   NaN
3     2017-09-20   NaN
4     2017-09-21   NaN
...          ...   ...
1924  2022-12-24   NaN
1925  2022-12-25   NaN
1926  2022-12-26   NaN
1927  2022-12-27   NaN
1928  2022-12-28   NaN

[1929 rows x 2 columns]
df             time  auction
0     2019-05-21      NaN
1     2019-05-22      NaN
2     2019-05-23      NaN
3     2019-05-24      NaN
4     2019-05-25      NaN
...          ...      ...
1313  2022-12-24      NaN
1314  2022-12-25      NaN
1315  2022-12-26      NaN
1316  2022-12-27      NaN
1317  2022-12-28      NaN

[1318 rows x 2 columns]
df             time  aud
0     2019-05-21  NaN
1     2019-05-22  NaN
2     2019-05-23  NaN
3     2019-05-24  NaN
4     2019-05-25  NaN
...          ...  ...
1313  2022-12-24  NaN
1314  2022-12-25  NaN
1315  2022-12-26  NaN
1316  2022-12-27  NaN
1317  2022-12-28  NaN

[1318 rows x 2 columns]
df             time  audio
0     2017-09-16    NaN
1     2017-09-17    NaN
2     2017-09-18    NaN
3     2017-09-19    NaN
4     2017-09-20    NaN
...          ...    ...
1926  2022-12-25    NaN
1927  2022-12-26    NaN
1928  2022-12-27    NaN
1929  2022-12-28    NaN
1930  2022-12-29    NaN

[1931 rows x 2 columns]
df             time  auto
0     2018-03-03   NaN
1     2018-03-04   NaN
2     2018-03-05   NaN
3     2018-03-06   NaN
4     2018-03-07   NaN
...          ...   ...
1758  2022-12-25   NaN
1759  2022-12-26   NaN
1760  2022-12-27   NaN
1761  2022-12-28   NaN
1762  2022-12-29   NaN

[1763 rows x 2 columns]
df             time  ava
0     2018-04-30  NaN
1     2018-05-01  NaN
2     2018-05-02  NaN
3     2018-05-03  NaN
4     2018-05-04  NaN
...          ...  ...
1700  2022-12-25  NaN
1701  2022-12-26  NaN
1702  2022-12-27  NaN
1703  2022-12-28  NaN
1704  2022-12-29  NaN

[1705 rows x 2 columns]
df             time  avax
0     2011-10-07   NaN
1     2011-10-08   NaN
2     2011-10-09   NaN
3     2011-10-10   NaN
4     2011-10-11   NaN
...          ...   ...
4097  2022-12-25   NaN
4098  2022-12-26   NaN
4099  2022-12-27   NaN
4100  2022-12-28   NaN
4101  2022-12-29   NaN

[4102 rows x 2 columns]
df             time  avt
0     2014-04-22  NaN
1     2014-04-23  NaN
2     2014-04-24  NaN
3     2014-04-25  NaN
4     2014-04-26  NaN
...          ...  ...
3169  2022-12-25  NaN
3170  2022-12-26  NaN
3171  2022-12-27  NaN
3172  2022-12-28  NaN
3173  2022-12-29  NaN

[3174 rows x 2 columns]
df             time  axs
0     2017-08-15  NaN
1     2017-08-16  NaN
2     2017-08-17  NaN
3     2017-08-18  NaN
4     2017-08-19  NaN
...          ...  ...
1958  2022-12-25  NaN
1959  2022-12-26  NaN
1960  2022-12-27  NaN
1961  2022-12-28  NaN
1962  2022-12-29  NaN

[1963 rows x 2 columns]
df             time  badger
0     2019-04-20     NaN
1     2019-04-21     NaN
2     2019-04-22     NaN
3     2019-04-23     NaN
4     2019-04-24     NaN
...          ...     ...
1344  2022-12-24     NaN
1345  2022-12-25     NaN
1346  2022-12-26     NaN
1347  2022-12-27     NaN
1348  2022-12-28     NaN

[1349 rows x 2 columns]
df             time  bake
0     2016-03-28   NaN
1     2016-03-29   NaN
2     2016-03-30   NaN
3     2016-03-31   NaN
4     2016-04-01   NaN
...          ...   ...
2463  2022-12-25   NaN
2464  2022-12-26   NaN
2465  2022-12-27   NaN
2466  2022-12-28   NaN
2467  2022-12-29   NaN

[2468 rows x 2 columns]
df             time  bal
0     2016-07-15  NaN
1     2016-07-16  NaN
2     2016-07-17  NaN
3     2016-07-18  NaN
4     2016-07-19  NaN
...          ...  ...
2354  2022-12-25  NaN
2355  2022-12-26  NaN
2356  2022-12-27  NaN
2357  2022-12-28  NaN
2358  2022-12-29  NaN

[2359 rows x 2 columns]
df             time  band
0     2019-05-23   NaN
1     2019-05-24   NaN
2     2019-05-25   NaN
3     2019-05-26   NaN
4     2019-05-27   NaN
...          ...   ...
1311  2022-12-24   NaN
1312  2022-12-25   NaN
1313  2022-12-26   NaN
1314  2022-12-27   NaN
1315  2022-12-28   NaN

[1316 rows x 2 columns]
df             time  bat
0     2017-07-05  NaN
1     2017-07-06  NaN
2     2017-07-07  NaN
3     2017-07-08  NaN
4     2017-07-09  NaN
...          ...  ...
1999  2022-12-25  NaN
2000  2022-12-26  NaN
2001  2022-12-27  NaN
2002  2022-12-28  NaN
2003  2022-12-29  NaN

[2004 rows x 2 columns]
df             time  bcd
0     2018-09-08  NaN
1     2018-09-09  NaN
2     2018-09-10  NaN
3     2018-09-11  NaN
4     2018-09-12  NaN
...          ...  ...
1569  2022-12-25  NaN
1570  2022-12-26  NaN
1571  2022-12-27  NaN
1572  2022-12-28  NaN
1573  2022-12-29  NaN

[1574 rows x 2 columns]
df             time  bch
0     2019-08-26  NaN
1     2019-08-27  NaN
2     2019-08-28  NaN
3     2019-08-29  NaN
4     2019-08-30  NaN
...          ...  ...
1217  2022-12-25  NaN
1218  2022-12-26  NaN
1219  2022-12-27  NaN
1220  2022-12-28  NaN
1221  2022-12-29  NaN

[1222 rows x 2 columns]
df             time  bcn
0     2017-06-16  NaN
1     2017-06-17  NaN
2     2017-06-18  NaN
3     2017-06-19  NaN
4     2017-06-20  NaN
...          ...  ...
2018  2022-12-25  NaN
2019  2022-12-26  NaN
2020  2022-12-27  NaN
2021  2022-12-28  NaN
2022  2022-12-29  NaN

[2023 rows x 2 columns]
df            time  beam
0    2020-09-05   NaN
1    2020-09-06   NaN
2    2020-09-07   NaN
3    2020-09-08   NaN
4    2020-09-09   NaN
..          ...   ...
841  2022-12-25   NaN
842  2022-12-26   NaN
843  2022-12-27   NaN
844  2022-12-28   NaN
845  2022-12-29   NaN

[846 rows x 2 columns]
df             time  bel
0     2018-01-29  NaN
1     2018-01-30  NaN
2     2018-01-31  NaN
3     2018-02-01  NaN
4     2018-02-02  NaN
...          ...  ...
1791  2022-12-25  NaN
1792  2022-12-26  NaN
1793  2022-12-27  NaN
1794  2022-12-28  NaN
1795  2022-12-29  NaN

[1796 rows x 2 columns]
df             time  berry
0     2017-06-03    NaN
1     2017-06-04    NaN
2     2017-06-05    NaN
3     2017-06-06    NaN
4     2017-06-07    NaN
...          ...    ...
2031  2022-12-25    NaN
2032  2022-12-26    NaN
2033  2022-12-27    NaN
2034  2022-12-28    NaN
2035  2022-12-29    NaN

[2036 rows x 2 columns]
df             time  beta
0     2017-07-09   NaN
1     2017-07-10   NaN
2     2017-07-11   NaN
3     2017-07-12   NaN
4     2017-07-13   NaN
...          ...   ...
1994  2022-12-24   NaN
1995  2022-12-25   NaN
1996  2022-12-26   NaN
1997  2022-12-27   NaN
1998  2022-12-28   NaN

[1999 rows x 2 columns]
df             time  bfc
0     2017-10-10  NaN
1     2017-10-11  NaN
2     2017-10-12  NaN
3     2017-10-13  NaN
4     2017-10-14  NaN
...          ...  ...
1902  2022-12-25  NaN
1903  2022-12-26  NaN
1904  2022-12-27  NaN
1905  2022-12-28  NaN
1906  2022-12-29  NaN

[1907 rows x 2 columns]
df             time  bico
0     2018-04-06   NaN
1     2018-04-07   NaN
2     2018-04-08   NaN
3     2018-04-09   NaN
4     2018-04-10   NaN
...          ...   ...
1724  2022-12-25   NaN
1725  2022-12-26   NaN
1726  2022-12-27   NaN

In [ ]:
df_merged = pd.concat(objs = df_list, axis = 0, join = "outer")
df_merged

,time,1inch,aave,abbc,abt,aca,ach,ada,adx,ae,...,ceek,cel,celo,celr,cfx,chat,chess,chf,chr,chsb
0,2020-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962,2022-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963,2022-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964,2022-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1965,2022-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1966,2022-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN