# Pandas Tutorial

https://pandas.pydata.org/docs/user_guide/index.html

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    {
        "Name":[
            "Elisabeth Moss",
            "Harry Potter",
            "María del Carmen"
        ],
        "Age":[39, 36, 29],
        "Job":[
            "Carpintera y/o actriz",
            "Policía",
            "Agente de seguros"
        ]
    }
)

df

               Name  Age                    Job
0    Elisabeth Moss   39  Carpintera y/o actriz
1      Harry Potter   36                Policía
2  María del Carmen   29      Agente de seguros